*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ion-icon{
    cursor: pointer;
}
body a:hover{
    color: #099cdc;
    text-decoration-line: underline ;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
button{
    border: none;
    cursor: pointer;
    transition: .2s;
}

body{
    font-family: 'Poppins',sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #cccccc;
}

::-webkit-scrollbar-thumb {
    background: #02887a;
    border-radius: 20px;
}

/*dark-start*/

body.dark {
    background: #343a40;
    color: #fff;
    transition: .5s;
}


body.dark header-btn-two  {
    background: #02897A;
    color: #fff;
    transition: .4s;
    border: 2px solid white;
}

body.dark h1 {
    color: white;
}

body.dark h2 {
    color: white;
    text-transform: uppercase;
}

body.dark h3 {
    color: white;
}

body.dark h4 {
    color: white;
}

body.dark a {
    color: white;
}

body.dark p {
    color: white;
}

#header {
    padding: 25px 0;
    background: rgba(131, 128, 128, 0.16);
    position: sticky;
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 100;
    animation: header 2s alternate;
}

@keyframes header {
    0% {
        transform: translateY(-500px);
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    display: flex;
}
.header-logo h1{
    font-weight: 700;
    font-size: 30px;
    color: #173A56;
    margin-left: 16px;
}
.header-a{
    display: flex;
    align-items: center;
}
.header-a a{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    margin: 0 15px;
    transition: .2s;
}
.header-a a:hover{
    color: #099cdc;
    text-decoration-line: underline ;

}
.header-btn-one {
    font-weight: 600;
    font-size: 16px;
    color: #02897A;
    border: solid 1px #02897A;
    padding: 13px 20px;
    border-radius: 8px;
    background: transparent;
}
.header-btn-one:hover{
    color: white;
    background: #02897A ;
}
.header-btn-two{
    margin-left: 24px;
    font-weight: 600;
    font-size: 16px;
    color:white;
    border: solid 1px #02897A;
    padding: 13px 20px;
    border-radius: 8px;
    background:#02897A ;
}
.header-btn-two:hover{
    background:transparent;
    color: #02897A;
}
.header-a ion-icon{
    color: #02897A;
    font-size: 30px;
    margin-left: 24px;
    rotate: 180deg;
    cursor: pointer;
    transition: .1s;
    border: solid 8px #F3F3F3;
    border-radius: 100%;
}
.header-a ion-icon:active{
    transform: rotate(180deg);
}
.our{
    padding: 60px 0;
}
.our img{
    margin: 69px 32px;
}
/*/////////*/

#why{
    background: #F5F5F5;

}
.why{
    padding: 40px 0;
}
.why h1{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    color: #22343D;
    margin-top: 5px;

}
.why-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.why-nav{
    width: 350px;
    height: 305px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    margin: 50px 15px;
}
.why img{
    margin: 32px 150px;
}
.why-nav h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #22343D;


}
.why-nav  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #22343D;
    height: 108px;
    width: 275px;
    margin: 16px 38px;

}

/*/////////*/

.how{
    margin: 60px 0;
}
.how h1{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    color: #22343D;

}
.how-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 73px;
}
.how img{
    margin-right: 89px;
}
.how-text h4 {
    font-weight: 500;
    font-size: 20px;
    color: #22343D;


}
.how-text h3{
    font-weight: 600;
    font-size: 24px;
    color: #22343D;
    margin: 16px 0;
}
.how-text p{
    width: 438px;
    height: 112px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;

}

/*////////*/

.step-2{
    margin: 60px 0;
}
.step-2 h1{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    color: #22343D;

}
.step-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 73px;
}
.step-2 img{
    margin-left: 89px;
}
.step2-text h4 {
    font-weight: 500;
    font-size: 20px;
    color: #22343D;


}
.step2-text h3{
    font-weight: 600;
    font-size: 24px;
    color: #22343D;
    margin: 16px 0;
}
.step2-text p{
    width: 438px;
    height: 112px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;

}

/*////////*/


.step-3{
    margin: 60px 0;
}
.step-3 h1{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    color: #22343D;

}
.step3-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 73px;
}
.step-3 img{
    margin-right: 89px;
}
.step3-text h4 {
    font-weight: 500;
    font-size: 20px;
    color: #22343D;


}
.step3-text h3{
    font-weight: 600;
    font-size: 24px;
    color: #22343D;
    margin: 16px 0;
}
.step3-text p{
    width: 438px;
    height: 112px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;

}
.step-3 button{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    width: 224px;
    height: 44px;
    background: #02897A;
    border-radius: 8px;
    margin-top: 90px;
}
.step-3  button:hover{
    -webkit-box-shadow: 4px 16px 28px -1px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 4px 16px 28px -1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 4px 16px 28px -1px rgba(0, 0, 0, 0.2) inset;
    transform: translateY(-5px);
    border-radius:8px ;
    color: #1e5653;
    background: rgb(255, 255, 255);
    border: solid 1px #1E5653FF;
    font-size: 20px;
}

/*///////*/

#other{
    background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
}
.other{
    padding: 60px 0;
}
.other h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;

}
.other-text{
    margin-top: 93px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.other-block{
    margin: 0 115px;
}
.other-block h2{
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin: 27px 0 16px 0;
}
.other-block p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #22343D;

}
.other-block h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    margin-top: 12px;

}

/*//////?*/

.join-block{
    width: 968px;
    height: 345px;
    background: #02897A;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    margin-left: 95px;
}
.join-block-text h1{
    width: 510px;
    height: 92px;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
    margin: 49px 0 0 51px;
}
.join-block-text button{
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 8px;
    color: #02897A;
    font-weight: 600;
    font-size: 20px;
    margin: 120px 0 0 50px;
    transition: .2s;
}
.join-block-text button:hover{
    -webkit-box-shadow: 4px -6px 39px 37px rgba(240, 62, 61, 0.2);
    -moz-box-shadow: 4px -6px 39px 37px rgba(240, 62, 61, 0.2);
    box-shadow: 4px -6px 39px 37px rgba(240, 62, 61, 0.2);
    transform: translateY(-5px);
    border-radius:10px ;
    border: solid 2px white;
    color: white;
    background: rgba(2, 137, 122, 0.26);
}

/*////*/

.footer{
    padding: 60px 0;
}
.footer-block{
    display: flex;
    /*align-items: center;*/
    justify-content: space-around;
}
.footer-icon{

    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.footer-icon ion-icon{
    font-size: 30px;
    color: #02897A;
    background:  #EDFFFC;
    border-radius: 30px;
    border: solid 7px   #EDFFFC;
}
.reso{
    display: flex;
    flex-direction: column;
}
.footer-block h1{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;

}
.footer-block a{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;

}





.legal{
    display: flex;
    flex-direction: column;
}
.know{
    display: flex;
    flex-direction: column;
}
.footer h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #22343D;
    text-align: center;
    margin-top: 20px;
}
.know input{
    padding: 0 0 0 15px;
    font-size: 20px;
    height: 48px;
    width: 325px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    margin-top: 34px;
}
.know button{
    background: #02897A;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    height: 39px;
    width: 131px;
    margin-top: 30px;
    transition: .2s;


}
.know  button:hover {
    -webkit-box-shadow: 4px 16px 28px -1px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 4px 16px 28px -1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 4px 16px 28px -1px rgba(0, 0, 0, 0.2) inset;
    transform: translateY(-5px);
    border-radius: 8px;
    color: #1e5653;
    background: rgb(255, 255, 255);
    border: solid 1px #1E5653FF;
    font-size: 16px;
}


